In [1]:
import pandas as pd
df = pd.read_csv('olympics.csv', skiprows=4)

In [7]:
df[df.Athlete.str.contains('OWENS, Jesse')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
6439,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,200m,M,Gold
6456,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,4x100m relay,M,Gold
6523,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,long jump,M,Gold

In [14]:
df2 = df[(df.Medal == "Gold") & (df.Event.str.contains('singles')) & (df.Sport.str.contains('Badminton'))]
df2.NOC.value_counts()

CHN    5
INA    3
DEN    1
KOR    1
Name: NOC, dtype: int64

In [15]:
df2.sort_values('Athlete')

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
21790,Atlanta,1996,Badminton,Badminton,"BANG, Soo-Hyun",KOR,Women,singles,W,Gold
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
23720,Sydney,2000,Badminton,Badminton,"GONG, Zhichao",CHN,Women,singles,W,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold
20049,Barcelona,1992,Badminton,Badminton,"SUSANTI, Susi",INA,Women,singles,W,Gold
25737,Athens,2004,Badminton,Badminton,"ZHANG, Ning",CHN,Women,singles,W,Gold
27744,Beijing,2008,Badminton,Badminton,"ZHANG, Ning",CHN,Women,singles,W,Gold

In [18]:
df3 = df[(df.Edition >= 1984) & (df.Edition <= 2008)]
df3.NOC.value_counts()

USA    1837
AUS     762
GER     691
CHN     679
RUS     638
       ...
ISV       1
AHO       1
DJI       1
SEN       1
AFG       1
Name: NOC, Length: 124, dtype: int64

In [19]:
df[(df.Medal == 'Gold') & (df.Event == '100m')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
231,Paris,1900,Athletics,Athletics,"JARVIS, Francis",USA,Men,100m,M,Gold
737,St Louis,1904,Athletics,Athletics,"HAHN, Archie",USA,Men,100m,M,Gold
1191,London,1908,Athletics,Athletics,"WALKER, Reginald",RSA,Men,100m,M,Gold
2022,Stockholm,1912,Athletics,Athletics,"CRAIG, Ralph",USA,Men,100m,M,Gold
2996,Antwerp,1920,Athletics,Athletics,"PADDOCK, Charles",USA,Men,100m,M,Gold
4236,Paris,1924,Athletics,Athletics,"ABRAHAMS, Harold",GBR,Men,100m,M,Gold
5095,Amsterdam,1928,Athletics,Athletics,"WILLIAMS, Percy",CAN,Men,100m,M,Gold
5098,Amsterdam,1928,Athletics,Athletics,"ROBINSON, Elizabeth",USA,Women,100m,W,Gold
5806,Los Angeles,1932,Athletics,Athletics,"TOLAN, Eddie",USA,Men,100m,M,Gold
5809,Los Angeles,1932,Athletics,Athletics,"WALASIEWICZ, Stanislawa",POL,Women,100m,W,Gold
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
6430,Berlin,1936,Athletics,Athletics,"STEPHENS, Helen Herring",USA,Women,100m,W,Gold
7302,London,1948,Athletics,Athletics,"DILLARD, Harrison",USA,Men,100m,M,Gold
7305,London,1948,Athletics,Athletics,"BLANKERS-KOEN, Fanny",NED,Women,100m,W,Gold
8121,Helsinki,1952,Athletics,Athletics,"REMIGINO, Lindy",USA,Men,100m,M,Gold
8124,Helsinki,1952,Athletics,Athletics,"JACKSON, Marjorie",AUS,Women,100m,W,Gold
9009,Melbourne / Stockholm,1956,Athletics,Athletics,"MORROW, Robert Joseph",USA,Men,100m,M,Gold
9012,Melbourne / Stockholm,1956,Athletics,Athletics,"CUTHBERT, Betty",AUS,Women,100m,W,Gold
9924,Rome,1960,Athletics,Athletics,"HARY, Armin",EUA,Men,100m,M,Gold
9927,Rome,1960,Athletics,Athletics,"RUDOLPH, Wilma",USA,Women,100m,W,Gold
10823,Tokyo,1964,Athletics,Athletics,"HAYES, Robert",USA,Men,100m,M,Gold
10826,Tokyo,1964,Athletics,Athletics,"TYUS, Wyomia",USA,Women,100m,W,Gold
11865,Mexico,1968,Athletics,Athletics,"HINES, James Ray",USA,Men,100m,M,Gold
11868,Mexico,1968,Athletics,Athletics,"TYUS, Wyomia",USA,Women,100m,W,Gold
12902,Munich,1972,Athletics,Athletics,"BORZOV, Valery",URS,Men,100m,M,Gold
12905,Munich,1972,Athletics,Athletics,"STECHER, Renate",GDR,Women,100m,W,Gold
14069,Montreal,1976,Athletics,Athletics,"CRAWFORD, Hasely",TRI,Men,100m,M,Gold
14072,Montreal,1976,Athletics,Athletics,"RICHTER-IRRGANG, Annegret",FRG,Women,100m,W,Gold
15374,Moscow,1980,Athletics,Athletics,"WELLS, Allan",GBR,Men,100m,M,Gold
15377,Moscow,1980,Athletics,Athletics,"KONDRATIEVA, Liudmila",URS,Women,100m,W,Gold
16794,Los Angeles,1984,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
16797,Los Angeles,1984,Athletics,Athletics,"ASHFORD, Evelyn",USA,Women,100m,W,Gold
18284,Seoul,1988,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
18287,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,100m,W,Gold
19859,Barcelona,1992,Athletics,Athletics,"CHRISTIE, Linford",GBR,Men,100m,M,Gold
19862,Barcelona,1992,Athletics,Athletics,"DEVERS, Gail",USA,Women,100m,W,Gold
21598,Atlanta,1996,Athletics,Athletics,"BAILEY, Donovan",CAN,Men,100m,M,Gold
21601,Atlanta,1996,Athletics,Athletics,"DEVERS, Gail",USA,Women,100m,W,Gold
23521,Sydney,2000,Athletics,Athletics,"GREENE, Maurice",USA,Men,100m,M,Gold
25539,Athens,2004,Athletics,Athletics,"GATLIN, Justin",USA,Men,100m,M,Gold
25542,Athens,2004,Athletics,Athletics,"NESTERENKO, Yuliya",BLR,Women,100m,W,Gold
27552,Beijing,2008,Athletics,Athletics,"BOLT, Usain",JAM,Men,100m,M,Gold
27554,Beijing,2008,Athletics,Athletics,"FRASER, Shelly-ann",JAM,Women,100m,W,Gold